<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
     <!--库存同步刷新某个指定物料的库存-->
    <add key="RefreshInventoryPath" value="http://172.17.99.3:94/api/SapTask/RunStockStatus"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UpdateCustomerSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="UpdateCustomerSoap" />
        <binding name="ZWS_ZINT_SD0012binding">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_SD0001binding">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_SD0001binding_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_SD0026binding">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_SD0026binding_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP12">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding1">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP121">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding2">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP122">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding3">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP123">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding4">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP124">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="binding5">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP125">
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_FI0002binding">
          <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:soap:functions:mc-style”中遇到了无法识别的策略断言:    -->
          <!--    <wsdl:binding name='ZWS_ZINT_FI0002binding'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="ZWS_ZINT_FI0002binding_SOAP12">
          <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:soap:functions:mc-style”中遇到了无法识别的策略断言:    -->
          <!--    <wsdl:binding name='ZWS_ZINT_FI0002binding_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0012/800/zws_zint_sd0012/zws_zint_sd0012binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_SD0012binding"
        contract="R3PriceWebService.ZWS_ZINT_SD0012" name="ZWS_ZINT_SD0012binding" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0001/800/zws_zint_sd0001/zws_zint_sd0001binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_SD0001binding"
        contract="R3OrderWebService.ZWS_ZINT_SD0001" name="ZWS_ZINT_SD0001binding" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0001/800/zws_zint_sd0001/zws_zint_sd0001binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_SD0001binding_SOAP12"
        contract="R3OrderWebService.ZWS_ZINT_SD0001" name="ZWS_ZINT_SD0001binding_SOAP12" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0026/800/zws_zint_sd0026/zws_zint_sd0026binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_SD0026binding"
        contract="DeleteR3OrderService.ZWS_ZINT_SD0026" name="ZWS_ZINT_SD0026binding" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0026/800/zws_zint_sd0026/zws_zint_sd0026binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_SD0026binding_SOAP12"
        contract="DeleteR3OrderService.ZWS_ZINT_SD0026" name="ZWS_ZINT_SD0026binding_SOAP12" />
      <endpoint address="http://10.3.1.224:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_cm/800/zws_zrfc_create_cm/binding"
        binding="customBinding" bindingConfiguration="binding" contract="R3CreateCustomerLegalWebService.ZWS_ZRFC_CREATE_CM"
        name="binding" />
      <endpoint address="http://10.3.1.224:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_cm/800/zws_zrfc_create_cm/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP12"
        contract="R3CreateCustomerLegalWebService.ZWS_ZRFC_CREATE_CM"
        name="binding_SOAP12" />
      <endpoint address="http://10.3.1.224:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_sa/800/zws_zrfc_create_sa/binding"
        binding="customBinding" bindingConfiguration="binding1" contract="R3CustomerSalesAreaWebService.ZWS_ZRFC_CREATE_SA"
        name="binding1" />
      <endpoint address="http://10.3.1.224:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_sa/800/zws_zrfc_create_sa/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP121"
        contract="R3CustomerSalesAreaWebService.ZWS_ZRFC_CREATE_SA"
        name="binding_SOAP121" />
      <endpoint address="http://10.3.15.15:8080/test/webservice/updatecustomer.asmx"
        binding="customBinding" bindingConfiguration="UpdateCustomerSoap"
        contract="R3UpdateCustomerWebService.UpdateCustomerSoap" name="UpdateCustomerSoap" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0032/800/zws_zint_sd0032/binding"
        binding="customBinding" bindingConfiguration="binding2" contract="DeleteR3OrderItemWebService.ZWS_ZINT_SD0032"
        name="binding2" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0032/800/zws_zint_sd0032/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP122"
        contract="DeleteR3OrderItemWebService.ZWS_ZINT_SD0032" name="binding_SOAP122" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0031/800/zws_zint_sd0031/binding"
        binding="customBinding" bindingConfiguration="binding3" contract="R3UpdateStockLocationService.ZWS_ZINT_SD0031"
        name="binding3" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0031/800/zws_zint_sd0031/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP123"
        contract="R3UpdateStockLocationService.ZWS_ZINT_SD0031" name="binding_SOAP123" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0033/800/zws_zint_sd0019/binding"
        binding="customBinding" bindingConfiguration="binding4" contract="R3UpdateOrderWebService.ZWS_ZINT_SD0033"
        name="binding4" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0033/800/zws_zint_sd0019/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP124"
        contract="R3UpdateOrderWebService.ZWS_ZINT_SD0033" name="binding_SOAP124" />
      <endpoint address="http://10.3.15.15:8080/test/webservice/updatecustomer.asmx"
        binding="basicHttpBinding" bindingConfiguration="UpdateCustomerSoap1"
        contract="Xinyong.WebServices.UpdateCustomerSoap" name="UpdateCustomerSoap1" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zrfc_modify_cm/800/zws_zrfc_modify_cm/binding"
        binding="customBinding" bindingConfiguration="binding5" contract="R3CustomerLegalModifyWebService.ZWS_ZRFC_MODIFY_CM"
        name="binding5" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zrfc_modify_cm/800/zws_zrfc_modify_cm/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP125"
        contract="R3CustomerLegalModifyWebService.ZWS_ZRFC_MODIFY_CM"
        name="binding_SOAP125" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_fi0002/800/zws_zint_fi0002/zws_zint_fi0002binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_FI0002binding"
        contract="R3PaymentService.ZWS_ZINT_FI0002" name="ZWS_ZINT_FI0002binding" />
      <endpoint address="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_fi0002/800/zws_zint_fi0002/zws_zint_fi0002binding"
        binding="customBinding" bindingConfiguration="ZWS_ZINT_FI0002binding_SOAP12"
        contract="R3PaymentService.ZWS_ZINT_FI0002" name="ZWS_ZINT_FI0002binding_SOAP12" />
    </client>
  </system.serviceModel>
</configuration>