<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="7.4.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="SAPDotNetConnector3" version="0.3.0" targetFramework="net45" />
</packages>